.popup__input {
    border: none;
    margin: 0 36px;
    padding: 0;
    max-width: 358px;
    min-height: 27px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}

@media screen and (max-width: 767px) {
    .popup__input {
        margin-left: 22px;
        margin-right: 22px;
        max-width: 238px;

    }
}

.popup__input:active {
    border: none;
}