.popup__form {
    width: 430px;
    height: 330px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 767px) {
    .popup__form {
        width: 282px;
        height: 322px;
    }
}
